    <div th:fragment="footer" xmlns:th="http://www.w3.org/1999/xhtml">
        <footer class="py-5 bg-dark text-white position-relative overflow-hidden">
            <div class="container-lg">
                <div class="row">
                    <!-- Social Links -->
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="footer-menu">
                            <div class="social-links mt-3">
                                <ul class="d-flex list-unstyled gap-2">
                                    <li>
                                        <a href="#" class="btn btn-outline-light">
                                            <svg width="16" height="16"><use xlink:href="#facebook"></use></svg>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="btn btn-outline-light">
                                            <svg width="16" height="16"><use xlink:href="#twitter"></use></svg>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="btn btn-outline-light">
                                            <svg width="16" height="16"><use xlink:href="#youtube"></use></svg>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="btn btn-outline-light">
                                            <svg width="16" height="16"><use xlink:href="#instagram"></use></svg>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="btn btn-outline-light">
                                            <svg width="16" height="16"><use xlink:href="#amazon"></use></svg>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!-- Điện Tử -->
                    <div class="col-md-2 col-sm-6">
                        <div class="footer-menu">
                            <h5 class="widget-title text-uppercase text-warning">Điện Tử</h5>
                            <ul class="menu-list list-unstyled">
                                <li class="menu-item"><a href="#" class="nav-link text-white">Giới Thiệu</a></li>
                                <li class="menu-item"><a href="#" class="nav-link text-white">Sản Phẩm Của Chúng Tôi</a></li>
                                <li class="menu-item"><a href="#" class="nav-link text-white">Nghề Nghiệp</a></li>
                                <li class="menu-item"><a href="#" class="nav-link text-white">Chương Trình</a></li>
                            </ul>
                        </div>
                    </div>

                    <!-- Liên Kết Nhanh -->
                    <div class="col-md-2 col-sm-6">
                        <div class="footer-menu">
                            <h5 class="widget-title text-uppercase text-warning">Liên Kết Nhanh</h5>
                            <ul class="menu-list list-unstyled">
                                <li class="menu-item"><a href="#" class="nav-link text-white">Ưu Đãi</a></li>
                                <li class="menu-item"><a href="#" class="nav-link text-white">Mã Giảm Giá</a></li>
                                <li class="menu-item"><a href="#" class="nav-link text-white">Tìm Cửa Hàng</a></li>
                                <li class="menu-item"><a href="#" class="nav-link text-white">Mua Sắm</a></li>
                                <li class="menu-item"><a href="#" class="nav-link text-white">Thông Tin Sản Phẩm</a></li>
                            </ul>
                        </div>
                    </div>

                    <!-- Dịch Vụ -->
                    <div class="col-md-2 col-sm-6">
                        <div class="footer-menu">
                            <h5 class="widget-title text-uppercase text-warning">Dịch Vụ Khách Hàng</h5>
                            <ul class="menu-list list-unstyled">
                                <li class="menu-item"><a href="#" class="nav-link text-white">Liên Hệ</a></li>
                                <li class="menu-item"><a href="#" class="nav-link text-white">Chính Sách Bảo Mật</a></li>
                                <li class="menu-item"><a href="#" class="nav-link text-white">Đổi & Hoàn Tiền</a></li>
                                <li class="menu-item"><a href="#" class="nav-link text-white">Thông Tin Bảo Hành</a></li>
                                <li class="menu-item"><a href="#" class="nav-link text-white">Thông Tin Vận Chuyển</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Background effect -->
            <div class="position-absolute top-0 start-0 w-100 h-100" style="background: url('/path/to/stars-bg.png') no-repeat center center; background-size: cover; opacity: 0.1;"></div>
        </footer>
    </div>
